.digital-water {
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff !important;
}
.error-message{
   /*background: #ff9966; /*fallback for old browsers */
  background: #ec008c;  /* fallback for old browsers */
  
    color: #fff;
}

div.ng-invalid.ng-touched + label,  textarea.ng-invalid.ng-touched + label, form.ng-submitted .invalid {
    color:#EF629F  !important;
}


p.instructions {
    font-family: 'Courgette', cursive;
    font-size: 1rem;
    margin-right: 10px;
    margin-top: 0px !important;
    color:#EF629F !important;
    display: block;
}

div.ng-valid + label.active, textarea.ng-valid + label.active {
    color:  #ACB6E5 !important;
}

div.ng-invalid + label.active, textarea.ng-invalid + label.active,form.ng-submitted div.ng-invalid + label, form.ng-submitted textarea.ng-invalid + label, form.ng-submitted .invalid  {
    color:  #EF629F !important;
}

textarea.materialize-textarea:focus:not([readonly]),
input.input-field:focus:not([readonly]),div.select-wrapper.ng-invalid > input:focus:not([readonly]),
form.ng-submitted textarea.ng-invalid, form.ng-submitted div.select-wrapper.ng-invalid > input {
	border-bottom: 1px solid #EF629F !important;
	box-shadow:0 1px 0 0 #EF629F !important;
    border-left: none !important;
}

textarea.materialize-textarea.ng-valid:focus:not([readonly]),
input.input-field.ng-valid:focus:not([readonly]),
textarea.materialize-textarea.ng-valid,
input.input-field.ng-valid,div.select-wrapper.ng-valid > input{
	border-bottom: 1px solid #ACB6E5 !important;
	box-shadow:0 1px 0 0 #ACB6E5 !important;
    border-left: none !important;
}

#select-label.fun, #select-label.fun_arg, #select-label.obj, #select-label.str, #select-label.arr {
    color:#ACB6E5 !important;
}

.logo {
    font-family: 'Courgette', cursive;
    color: #fff;
    font-size: 1.5rem;
    margin-right: 10px;
}


body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:rgba(0,0,0,0.7);
}

.card-action{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.error-field{
    
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Courgette', cursive;
    color:#ffc0cb;
}

@media only screen and (max-width: 601px) {
    body{
        background: #ECE9E6;
    }
}



