  <!DOCTYPE html>
  <html lang = "en" >
    <head>

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
     
      <script type="text/javascript" src="js/collection_functions_module.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript">
            $(document).ready("#clear").click(function() {
                 $('select').material_select();
            });
            
            $(document).ready(function() {
                $('select').material_select();
            });
      </script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
  
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       <title>Lodash functions by Zory</title>
    </head>
    <body ng-app="lodash" ng-controller="lodash_controller">

  <nav digital-water>
    <div class="nav-wrapper digital-water">
      <a href="https://lodash.com/" class="brand-logo" target = "blank">_.Lodash</a>
      <ul id="nav-mobile" class="right">
        <li><a class="logo" href="http://ztischenko.com" target = "blank">By Zory</a></li>
      </ul>
    </div>
  </nav>

        <div class="container">
            <div class="row">        
                <div class="col s12 m6">

                    <!-- TODO: as it is there is a slight delay and you can see pink box for a moment, while page loads - because
                        'params' declared later in the page. Add logic in controller later to fix this.-->
                    <div id = "err-msg" class="card-panel error-message hide" ng-show="message">
                        <span  class="">
                            There was an issue with the input - see highlighted fields and try again! And check out  <a href ="https://lodash.com/docs/4.17.4#every" target = "blank" class ="error-field">lodash</a> documentation, where you can see all supported formats for various Collection functions, and examples of their usage. </br>
                        </span>
                    </div>
                    
                    <div class="card-panel " style="padding-bottom: 15px;">
                        <div class="row" style = "margin-bottom: 0px !important">
                            <form class="" name="params" ng-submit="process_input()" novalidate>
                               
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea style="margin-bottom:0px"  name="collection" id="collection" class="materialize-textarea" ng-model = "fun.collection" ng-required = "true" is-collection></textarea>
                                        <label for="collection" class='active'>Collection</label>
                                         <p class="instructions" ng-show=" params.collection.$invalid && !params.collection.$pristine">Collection can be an object like {"key":"value","key2":"value2"...} or array ["element1", "element2"...] or a string (no quotes).</p>
                                     </div>
                                </div>
                               
                                <div class="row">
                                     <div class="input-field col s12" ng-class="{invalidinput: !fun.predicate_type && message}">
                                        <select ng-model = "fun.predicate_type" ng-required = "true" name ="predicate_type">
                                            <option value="" disabled selected>Choose your option</option>
                                            <option value="fun_arg">function(e){..e..}</option>
                                            <option value="obj">object {"a":"b","b":"c"}</option>
                                            <option value="arr">array of 2 ["key", "val"]</option>
                                            <option value="str">string</option>
                                        </select>
                                        <label id="select-label" ng-class="{invalid:!fun.predicate_type && message}">Predicate type</label>    
                                    </div>
                                </div>

                                <!-- START ::: Predicate field potential improvements:
                                        1) Move it into its own directive
                                        2) Instead of using 5 textarea tags, research way to bing dynamic validation directive
                                        3) Put all error messages into scope var and apply it to one p tag, instead of 5
                                -->
                                <div  ng-if="params.predicate_type.$valid" class="row">
                                    <div class="input-field col s12">
                                        
                                        <textarea ng-if = "fun.predicate_type=='fun_arg' && params.predicate_type.$valid"  style="margin-bottom:0px"  id = "predicate" name ="predicate" class = "materialize-textarea" ng-model = "fun.predicate"  ng-required = "true" is-function ></textarea>
                                        <textarea ng-if = "fun.predicate_type=='obj' && params.predicate_type.$valid"  style="margin-bottom:0px"  id = "predicate" name ="predicate" class = "materialize-textarea" ng-model = "fun.predicate"  ng-required = "true" is-object-not-array ></textarea>
                                        <textarea ng-if = "fun.predicate_type=='arr' && params.predicate_type.$valid"  style="margin-bottom:0px"  id = "predicate" name ="predicate" class = "materialize-textarea" ng-model = "fun.predicate"  ng-required = "true" is-array-of-two ></textarea>
                                        <textarea ng-if = "fun.predicate_type=='str' && params.predicate_type.$valid"  style="margin-bottom:0px"  id = "predicate" name ="predicate" class = "materialize-textarea" ng-model = "fun.predicate"  ng-required = "true" is-string ></textarea>
                                                                                
                                        <label for = "predicate" class = ''>Predicate</label>

                                        <p class="instructions" ng-show="fun.predicate_type=='fun_arg' && params.predicate.$invalid && !params.predicate.$prestine">Type in your function body. Reffer to passed argument as 'e', e.g e.key or e[key].</p>
                                        <p class="instructions" ng-show="fun.predicate_type=='obj' && params.predicate.$invalid && !params.predicate.$prestine">Type in object like this: { "key": "value" }</p>
                                        <p class="instructions" ng-show="fun.predicate_type=='arr' && params.predicate.$invalid && !params.predicate.$prestine">Type in array of two elements: ['key', 'value']</p>
                                        <p class="instructions" ng-show="fun.predicate_type=='str' && params.predicate.$invalid && !params.predicate.$prestine">String is one word, without any quotes.</p>
                                        
                                     </div>
                                </div>
                                <!-- END ::: Predicate field -->
                                
                                <div class="row ">
                                    <div class="col s12">
                                        <label for="function" style = "font-size: 1rem" ng-class = "{invalid: !fun.function_name}">Chose function</label>
                                        <p class="instructions" ng-show="params.function.$invalid && params.$submitted">Must select one.</p>
                                    </div>

                                    <div class="col s6 left-align">
    
                                        <p>
                                        <input name="function" type="radio" id="filter" value = "filter" ng-model = "fun.function_name"  ng-required = "true" />
                                        <label for="filter">Filter</label>
                                        </p>

                                        <p>
                                        <input name="function" type="radio" id="reject" value = "reject" ng-model = "fun.function_name"  ng-required = "true"/>
                                        <label for="reject">Reject</label>
                                        </p>

                                        <p>
                                        <input name="function" type="radio" id="every" value = "every" ng-model = "fun.function_name"  ng-required = "true"/>
                                        <label for="every">Every</label>                                   
                                        </p>
                                    </div>
                                    <div class = "col s6 left-align ">
                                        <p>
                                        <input name="function" type="radio" id="partition" value = "partition" ng-model = "fun.function_name"  ng-required = "true"/>
                                        <label for="partition">Partition</label>
                                        </p>

                                        <p>
                                            <input name="function" type="radio" id="some" value = "some" ng-model = "fun.function_name"  ng-required = "true"/>
                                            <label for="some">Some</label>
                                        </p>
                                    </div>
                               </div>
                               
                                
                                <div class="card-action row right-align">
                                        <div class="col s6 push-m1" style="padding-right: 0px !important;margin-right: 0px !important;">
                                            <a id="clear" class="waves-effect waves-water btn-flat " ng-click="clear_input()" >Clear</a>
                                        </div>

                                        <div class="col s6">
                                            <button class="btn waves-effect waves-light" type="submit" name="action">Run
                                                <i class="material-icons right">arrow_forward</i>
                                            </button>
                                        </div>
                                 </div> 
                            </form>
                        </div>
                    </div>
                </div>
               
                <div class="col s12 m6">
                    <div class="card-panel ">
                        <span class="">
                            Selected function is: {{ selected_func }}
                        </span>
                    </div>
                     <div class="card-panel ">
                        <span class="">I am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenientI am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                        </span>
                    </div>
                </div>
               
                </div>
            </div>
        </div>
    </body>
  </html>